config blackhole 'main'
	option enable '1'
	option port '8080'
	option ip '0.0.0.0'
	option log '/mnt/largedata/blackholeserver/blackhole.log'
	option root '/mnt/largedata/blackholeserver/mirrored'
	option content '/mnt/largedata/blackholeserver/content'
	option pixel_enable '1'
	option pixel_file ''
	option pixel_hex ''
	option log_level 'info'
	option log_max_size '10'
